@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   width: 90rem;
   height: 50rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.parentcontainer{
    width: 57.625rem;
    height: 31.1875rem;
    border: 2px solid red; 

}




















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }