@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   width: 90rem;
   height: 50rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: "Lexend Deca", sans-serif;
   font-weight: 400;
   font-size: 0.9375rem;
}
.parentcontainer{
    width: 57.625rem;
    height: 31.1875rem;
display: flex;
}
.car{
padding: 2.9375rem;
background-color: hsl(31, 77%, 52%) 
}
.car:nth-child(2){
background-color:  hsl(184, 100%, 22%);
}
.car:nth-child(3){
    background-color: hsl(179, 100%, 13%);
}
 h1{
padding-top: 2.5625rem;
font-family: "Big Shoulders Display", sans-serif;
font-weight: 700;
text-transform: uppercase;
color: hsl(0, 0%, 95%)
}
p{
    padding-top: 2.4375rem;
    padding-bottom: 5.4375rem;
    color: hsla(0, 0%, 100%, 0.75);
}
button{
    color:   hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);;
    border:hsl(0, 0%, 95%) ;
    border-radius: 2rem;
    width: 9.125rem;
    height: 3rem;
}
.car:nth-child(2) button{
    color:  hsl(184, 100%, 22%);
}
.car:nth-child(3) button{
color:hsl(179, 100%, 13%) ;
}





















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }